/* @CHARSET "ISO-8859-1"; */

		body {
			background-color: lightslategray;
		}
		
		.xcell {
			width: 11.1%;
			height: 10%;
			background-color: lightyellow;
			border: 2px solid black;
			display: inline-block;
			float: left;
		}
		
		.textfield {
			height: auto;
			background-color: lightseagreen;
			border: 5px solid black;
		}
		
		.textfieldWithoutBackground {
			height: auto;
#			border: 5px solid black;
		}
		
		input.nextMove {
			width: 15px;
			color: black;
		}
		
		.btn.nextMove {
			padding: 0px;
			color: black;
		}
		
		.myContent {
			padding: 10px;
			margin-left: 10%;
			margin-right: 10%;
		}
		
		.myNavBar {
			background-color: lightseagreen;
		}
		
		.toCenter {
			color: white;
			text-align: center;
		}
		
		.ourElement {
			width: 50%;
		}
		
		.redcircle {
			width: 60px;
			background-color: red;
			border-radius: 100%;
			border: 5px solid black;
			height: 60px;
			display: inline-block;
		}
		
		.blackcircle {
			width: 60px;
			background-color: black;
			border-radius: 100%;
			border: 5px solid white;
			height: 60px;
			display: inline-block;
		}
		
		@media (max-width: 1200px) {
			.board {
				margin-bottom: 30px;
			}
		}
		
		@media (max-width: 992px) {
			.myContent section:first-of-type {
				margin-bottom: 30px;
			}
		}
		
		@media (min-width: 992px) {
			.myContent section:first-of-type {
			}
		}
		
		@media (min-width: 1200px) {
			.myContent section:first-of-type {
				padding: 0 15px;
			}
		}
		
		
		