/* @CHARSET "ISO-8859-1"; */

@font-face {
	font-family: 'chinese';
	src: url("../fonts/CHINESETAKEAWAY.ttf"); Safari, Android, iOS
}

body {
	color: black;
	background-image: url("../images/chinawallbackground.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: 'chinese';
	font-size: 22px;
}

.board {
	height: auto;
	background-color: rgba(236, 236, 236, 0.6);
	padding-top: 15px;
	padding-bottom: 15px;
	border: 1px solid black;
	border-radius: 25px;
}

.h1 {
	font-size: inherit;
}

.xcell {
	width: 11.1%;
	height: 9.3%;
	border: 1px solid black;
	display: inline-block;
	float: left;
}

.riverpic {
	width: 100%;
	padding-right: 0.1%;
}

.textfield {
	color: black;
	height: auto;
	background-color: rgba(236, 236, 236, 0.6);
	border: 1px solid black;
	border-radius: 25px;
}

.chat-textfield {
	overflow: auto;
	height:100px;
}

input.socket-input {
	width: 100%;
}

input.nextMove {
	width: 30px;
}

.btn {
	padding: 5px;
	font-size: inherit;
}

.li-btn {
	width: 100%;
}

.myContent {
	padding: 10px;
	margin-left: 10%;
	margin-right: 10%;
}

.myNavBar {
	background-color: rgba(158, 204, 255, 0.7);
}

.navbar-inverse {
	background-color: rgba(0, 0, 0, 0.0);
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
	color: black;
	font-size: inherit;
	line-height: inherit;
}

.toCenter {
	text-align: center;
}

.redcircle {
	width: 60px;
	background-color: rgba(255, 0, 0, 0.6);
	border-radius: 100%;
	border: 5px solid black;
	height: 60px;
	display: inline-block;
}

.blackcircle {
	width: 60px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 100%;
	border: 5px solid white;
	height: 60px;
	display: inline-block;
}

.footer-modal {
	font-size:16px;
	float:left;
}

@media ( max-width : 1200px) {
	.board {
		margin-bottom: 30px;
	}
}

@media ( max-width : 992px) {
	.myContent section:first-of-type {
		margin-bottom: 30px;
	}
}

@media ( min-width : 1200px) {
	.myContent section:first-of-type {
		padding: 0 15px;
	}
}
