@(list: ArrayList[ArrayList[String]])(message: String)(turn: Int)(pcolor: String)

@main("Xiangqi - Chinese Chess") {
	<div class="col-xs-12 col-md-6 board">
	@for((element, rID) <- list.zipWithIndex) {
		@if(rID == 5){
			<img class="clearfix riverpic" src="@routes.Assets.at("images/river.png")">
		}
		<div class="clearfix" id="boardRow@rID">
		@for((cell, cID) <- element.zipWithIndex){
			@if(cell!="  "){
				<img class="xcell" data-x="@cID" data-y="@rID" draggable="true" ondragstart="drag(event);" ondrop="drop(event);" ondragover="allowDrop(event);" src="@routes.Assets.at("images/"+cell.toLowerCase+".png")">
			} else {
				<img class="xcell" data-x="@cID" data-y="@rID" draggable="true" ondragstart="drag(event);" ondrop="drop(event);" ondragover="allowDrop(event);" src="@routes.Assets.at("images/opacity.png")">
			}
		}
		</div>
	}
	</div>
		
	<section class="col-xs-12 col-md-6 toCenter">
		<div class="textfield">
			@if(message==null){
				<p>Awaiting next move!</p>
			} else {
				<p>@message</p>
			}
		</div>
		<br>
		<div class="textfield container-fluid">
			<p>Your next move:</p>
			
			<div class="col-xs-6">
				Piece:<br>
				<p>x: <input class="nextMove InputFigurex" type="text"></p>
				<p>y: <input class="nextMove InputFigurey" type="text"></p>
			</div>
			
			<div class="col-xs-6">
				Target:<br>
				<p>x: <input class="nextMove InputDestinationx" type="text"></p>
				<p>y: <input class="nextMove InputDestinationy" type="text"></p>
			</div>
			
		</div>
		<br>

		<div class="textfield container-fluid">
			<div class="col-xs-6">
				<p>You:</p>
				<div id="playersTurn"></div>
				@if(pcolor=='red'){
					<div class="redcircle"></div>
				} else {
					<div class="blackcircle"></div>
				}
			</div>
			<div class="col-xs-6 ">
				<p>Current:</p>
				@if(turn==1){
						<div class="redcircle"></div>
				} else {
						<div class="blackcircle"></div>
				}
			</div>
		</div>
		<br>
		
		
    	
    	
    	
	</section>
	
}
