@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel='stylesheet' type="text/css" href='@routes.Assets.at("stylesheets/cssstyle.css")'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--     <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script> -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/functions.js")'></script>
    <script type="text/javascript" charset="utf-8" src="@routes.Application.wsJs()"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-inverse">
      <div class="container-fluid myNavBar">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#xiangqiNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="/">@title</a>
        </div>
        <div class="collapse navbar-collapse" id="xiangqiNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Rules<span class="caret"></span></a>
              <ul class="dropdown-menu">
				<li><button onclick="ruleTextFor('general')">General</button></li>
				<li><button onclick="ruleTextFor('advisor')">Advisor</button></li>
				<li><button onclick="ruleTextFor('elephant')">Elephant</button></li>
				<li><button onclick="ruleTextFor('horse')">Horse</button></li>
				<li><button onclick="ruleTextFor('chariot')">Chariot</button></li>
				<li><button onclick="ruleTextFor('cannon')">Cannon</button></li>
				<li><button onclick="ruleTextFor('soldier')">Soldier</button></li>
              </ul>
            </li>
            <li><a href="#">History</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Xiangqi" target="_blank" >xiangqi->wiki</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid myContent">
    	<div id="dynamicallyLoadableContent">@content</div>
    </div>
    
    <div class="textfield container-fluid" id="tohide">
		<div>
	        <h1>Chat</h1>
	        <input type="text" id="socket-input">
	        <div id="socket-messages" class="textfield" style=""></div>
    	</div>
   	</div>
    
    <div class="textfield container-fluid">
		<div id="rules-text"></div>
   	</div>

</body>
</html>
