<div class="toCenter" id="cannon">
	<img src="@routes.Assets.at("images/bc.png")" alt='Cannon'>
	<img src="@routes.Assets.at("images/rc.png")" alt='Cannon'>
	<br>
	<br>
	<text>Each player has two cannons,
	which start on the row behind the soldiers, two points in front of the
	horses. Cannons move like chariots, any distance orthogonally without
	jumping, but can only capture by jumping a single piece, friend or
	foe, along the path of attack. The piece over which the cannon jumps
	is called the "cannon platform" or "screen". 
	Any number of unoccupied spaces, including none, may exist
	between the cannon, screen, and the piece to be captured. Cannons can
	be exchanged for horses immediately from their starting positions.</text>
</div>
