<div class="toCenter" id="advisor">
	<img src="@routes.Assets.at("/images/ba.png")" alt='Advisor'>
	<img src="@routes.Assets.at("/images/ra.png")" alt='Advisor'>
	<br>
	<br>
	<text>The advisors (also known as guards or ministers, and less
	commonly as assistants, mandarins, or warriors) start on either side of
	the general. They move and capture one point diagonally and may not
	leave the palace, which confines them to five points on the board. The
	advisor is probably derived from the mantri in chaturanga, like the
	queen in Western chess.</text>
</div>
