<div class="toCenter" id="soldier">
	<img src="@routes.Assets.at("/images/bs.png")" alt='Soldier'>
	<img src="@routes.Assets.at("/images/rs.png")" alt='Soldier'>
	<br>
	<br>
	<text>Each side has five soldiers. Soldiers begin the game located on every other
	point one row back from the edge of the river. They move and capture by
	advancing one point. Once they have crossed the river, they may also
	move and capture one point horizontally. Soldiers cannot move backward,
	and therefore cannot retreat; after advancing to the last rank of the
	board, however, a soldier may still move sideways at the enemy's edge.
	The soldier is sometimes called the "pawn" by English-speaking players,
	due to the pieces' similarities.</text>
</div>