<div class="toCenter" id="horse">
	<img src="@routes.Assets.at("images/bh.png")" alt='Horse'>
	<img src="@routes.Assets.at("images/rh.png")" alt='Horse'>
	<br>
	<br>
	<text>Horses begin the game next to the elephants, on their outside
	flanks. A horse moves and captures one point orthogonally and then one
	point diagonally away from its former position, a move which is
	traditionally described as being like the character "Rì". The horse
	does not jump as the knight does in Western chess, and can be blocked
	by a piece located one point horizontally or vertically adjacent to
	it. Blocking a horse is called "hobbling the horse's leg". Since horses can
	be blocked, it is sometimes possible to trap the opponent's horse. It
	is possible for one player's horse to have an asymmetric attack
	advantage if an opponent's horse is blocked.</text>
</div>
