<div class="toCenter" id="elephant">
	<img src="@routes.Assets.at("/images/be.png")" alt='Elephant'>
	<img src="@routes.Assets.at("/images/re.png")" alt='Elephant'>
	<br>
	<br>
	<text>Elephants are located next to the advisors.
	These pieces move and capture exactly two points diagonally and may
	not jump over intervening pieces; the move is described as being like
	the character "field". If an elephant cannot move due to a
	diagonally adjacent piece, it is known as "blocking the elephant's
	eye". Elephants may not cross the river, and
	serve as defensive pieces. Because an elephant's movement is
	restricted to just seven board positions, it can be easily trapped or
	threatened. The two elephants are often used to defend each other. The
	Chinese characters for "minister" and "elephant" are homophones in
	Mandarin and both have alternative meanings
	as "appearance" or "image". However, both are referred to as elephants
	in the game.</text>
</div>